.container{
    position: relative;
    width: 100%;
    height: 450px;
}
.container img{
    width: 100%;
    height: 450px;
}
.slideBar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    /* display: none; */
}
.active{
    display: block;
    transition: 2s;
}
.prev , .next{
    position: absolute;
    top: 45%;
    font-size: 40px;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
