.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(1, 44, 95);
    width: 100%;
    height: 60px;
}
.nav li{
    list-style-type: none;
    display: inline-block;
    padding-left: 90px;
}
.nav{
    margin-right: 400px;
}
 a{
    text-decoration: none;
    color: white;
}
.enter {
    margin-right: 450px;
    margin-top: 15px;
}
.logo{
    width: 100px;
    height: 60px;
}
.logoName{
    display: flex;
    flex-direction: row;
}
.logoName div{
    color: white;
    padding-top: 15px;
    padding-right: 3px;
}